* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#m3_carousel {
    position: relative;
    margin: 0 auto 0 auto;
    display: flex;
    width: 800px;
    padding: 8px 16px 8px 16px;
    background-color: #141218;
    flex-wrap: nowrap;
    border-radius: 10px;
    height: 221px;
}

.m3_carousel_item {
    position: absolute;
    /* width: 184px; */
    height: 205px;
    background-color: aquamarine;
    z-index: 100;
    overflow: hidden;
    
}

.carousel_item_img {
  /* transform: scaleX(10);   */
}