* {
    box-sizing: border-box;
}

#m3_carousel {
    margin: 0 auto 0 auto;
    display: flex;
    gap: 8px;
    width: 1280px;
    padding: 8px 16px 8px 16px;
    background-color: #141218;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.m3_carousel_item {
    width: 184px;
    height: 205px;
    background-color: aquamarine;
}

.m3_carousel_item_debug {
    position: absolute;
    width: 169.328px;
    height: 205px;
    background-color: rgb(255, 255, 255);
    border: 3px dashed red;
}